<h4>Child</h4>
<h5>
    {{leyenda}}- {{progreso}} </h5>
<div class="input-group mb-3">
    <button class="btn btn-outline-primary" type="button" (click)="cambiarValor(+10)" id="button-addon2">
        <i class="mdi mdi-plus"></i></button>
    <input #txtProgres type="number" (ngModelChange)="onChance($event)" class="form-control" [(ngModel)]="progreso" name="progreso" min="1" max="100">
    <div class="input-group-append">
        <button class="btn btn-outline-primary" (click)="cambiarValor(-10)" type="button" id="button-addon2">
            <i class="mdi mdi-minus"></i></button>
    </div>
</div>